@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap');


:root {
    /* ### Primary */

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* ### Neutral */

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-image: url("images/pattern-background-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
}

h1 b{
    font-weight: 900;
    font-size: 32px;
}

.card {
    background-color: var(--Very-pale-blue);
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    overflow: hidden;
    width: 25%;
    height: 75%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
  
.container {
    margin: 5%;
    padding: 5px 16px;
    text-align: center;
}

.container p {
    margin-top: 10px;
}

.icon {
    width: 100%;
    margin: 1px;
    
}

.list {
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.list ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.list ul a {
    justify-content: end;
    float: right;
    color: var(--Bright-blue);
    margin-top: 10px;
}

button {
    align-items: center;
    border-radius: 16px;
    border: none;
    box-sizing:content-box;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 80%;
    padding: 14px 14px;
    text-decoration: none;
    width: 100%;
    outline: 0;
    margin-left: 20px;
    
}

.button-proceed {
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-cancel {
    background-color: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
}
